@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Nunito', sans-serif;
  background-color: #f0f9ff;
  /* bg-blue-50 */
  color: #4c1d95;
  /* text-violet-900 */
}

body {
  margin: 0;
  min-height: 100vh;
}